
  <div class=" section-box " >


    <div class="input-group">
      <input type="search" class="form-control rounded search-box" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">Buscar</button>
    </div>

    <h4>Seccion Trabajos - Hoy</h4>

    <div class="container-jobs ">

      <div class="job-card ">
        <span class="job-title">Title job</span>
        <div class="job-content">
          <span class="txt-desc">Descripcion:</span>
          <p class="job-desc">With supporting text below as a natural lead-in to additional content. natural lead-in to additional content. text below as a natural lead-in</p>
        </div>
        <div class="profile">
          <div class="username">
           <li>Nombre Apellido</li>
           <li>Redbull Manager</li>
          </div>
          <img class="personal-img " src="https://okdiario.com/img/2022/03/11/vladimir-putin-655x368.jpg" alt="">
        </div>
        <span class="time">16 horas</span>
        <a href="#" class="">Aplicar</a>
      </div>

    </div>



  </div>
