
*{
  box-sizing: border-box;
}

.section-box {
  padding: 10px;
}

.input-group {
  width: 420px;
}

.section-box h4 {
  margin-inline: 15px;
  color: rgb(60, 99, 254);
}


/* All Trabajos */
.container-jobs {
  width: 92%;
  min-width: 500px;
  margin: auto;
  padding: 15px 0;


}

/* Card Trabajo individual */
.job-card {
  width: 190px;
  box-sizing: border-box;
  background-color: rgb(83, 187, 163);
  border-radius: 15px;
  padding: 10px;
  position: relative;
}

.job-card:hover {
  background-color: rgb(73, 155, 217);

}

.job-title{
  font-size: 13px;
}
.txt-desc{
  font-size: 10px;
  font-weight: bold;
}

.job-desc{
 font-size: 10px;
}

/* CONTENIDO JOB */
.job-content {
  /* background-color: brown; */
  border-radius: 6px;
  max-height: 70px;
  overflow-y: hidden;
}

.job-desc {
  margin: 0px !important;
}

/* CREADOR JOB */
.profile{
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2px;
  /* background-color: cornflowerblue; */
  border: 1px solid grey;
  border-radius: 6px;
  overflow-y: hidden;
}

.username li {
  padding-right: 5px;
  font-size: 9px;
  text-decoration: none;
  list-style-type: none;
}

.personal-img{
  width: 35px;
  height: 35px;
  border-radius: 20px;
  object-fit: cover;
  object-position: -9px ;

}

.job-card a{
  font-size: 11px;
  height: 25px;
  width: 50px;
  background-color: rgb(50, 106, 237);
  text-decoration: none;
  padding: 4px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 500;
  position: relative;
  text-align: center;
  bottom: 2px;
  left: 35%;
}

.time {
  background-color: rgb(67, 67, 244);
  font-size: 11px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  border-radius: 5px;
  padding: 3px;
}


.job-card a:hover{

  background-color: rgb(13, 72, 210);
  color: rgb(255, 255, 255);
}

