  <div class=" section-box " >

    <app-section-specific [currentJob]="cjob"></app-section-specific>

    <div class="post">
      <div class="input-group">
        <input type="search" class="form-control rounded search-box" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">Buscar</button>
      </div>

      <h4>Seccion Trabajos - Hoy</h4>

      <div class="container-jobs" >
        <div class="job-card" *ngFor="let job of jobs">
          <span class="title">{{ job.title }}</span>
          <div class="content">
            <span class="label">Descripcion:</span>
            <div class="description">{{ job.description }}</div>
          </div>
          <div class="profile">
            <div class="username">
            <li>{{ job.username }}</li>
            <li>{{ job.occupation }}</li>
            </div>
            <img class="image" src="{{ job.image }}" alt="">
          </div>
          <span class="time">{{ job.date }}</span>
          <a class="btn-apply" (click)="setjob(job)" >Ver</a>
        </div>
      </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header d-flex flex-row">
        <div class="offcanvas-title " id="offcanvasRightLabel">Profile</div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <div class="row">
            <div class=" mt-4">
                        <div class="container">
                            <img class="card-img-top" src="../../../assets/background_profile.jpeg">
                            <div class="card-block m-0">
                                <figure class="profileuser">
                                    <img src="../../../assets/image-profile.webp" class="profile-avatar" alt="">
                                </figure>

                                <div class="meta">
                                  <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                                    <a class="role">Developer</a>
                                </div>
                                <div class="card-text">
                                    Desarrollador web que vive actualmente en Perú.
                                </div>
                            </div>
                             <!--<div class="card-footer">
                                <small>Last updated 3 mins ago</small>
                                <button class="btn btn-secondary float-right btn-sm">show</button>
                            </div>-->

                            <div class="card mb-4">
                              <div class=" p-0">
                                <ul class="list-group list-group-flush rounded-3 p-2">
                                  <li class="list-group-item d-flex flex-row justify-content-evenly">
                                    <i class="fas fa-globe fa-lg text-warning"></i>
                                    <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                    <i class="fab fa-instagram fa-lg" style="color: #c52519;"></i>
                                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="container ">
                            <div class=" mb-4 p-0 m-0">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Nombres</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">Ariel Chavez</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">example@example.com</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Celular</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">(51) 959-234-548</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Sexo</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">Hombre</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Dirección</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">Malasya, DK</p>
                                  </div>
                                </div>
                              </div>
                            </div>



                        </div>
                    </div>
          </div>
        </div>
    </div>

  </div>
