
<nav class="navbar navbar-expand-lg navbar-dark ">

  <div class="container-md">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand">
      <img class="logo-navbar" src="../../assets/logo/logo.svg" alt="Logo Page">
      Root-Jobs
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']" routerLinkActive="active-link" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active-link" [routerLink]="['/formjob']" routerLinkActive="active-link" >Crear Anuncio</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active-link" [routerLink]="['/catalogo']" routerLinkActive="active-link" >Catalogo</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active-link" [routerLink]="['/jobs']" routerLinkActive="active-link" >Crud Jobs</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active-link" [routerLink]="['/posts']" routerLinkActive="active-link" >Posts</a>
        </li> -->
      </ul>
      <div class="flex-shrink-0 dropdown" bis_skin_checked="1">
        <a class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow " style="">
          <li><a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" >Profile</a></li>

          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" >Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
