
<div class="container my-5">
  <div class="row">
  <div class="col-md-5 offset-md-3">
    <h5 class="card-title text-center">Registro de Anuncio</h5>
    <form [formGroup]="formJob" (ngSubmit)="onSubmit()" novalidate>
      <!-- <div class="form-group mt-2">
        <label for="id">Id: </label>
        <input class="form-control" type="text" id="id" formControlName="id"
        [ngClass]="{'is-invalid': submitted && f['id'].errors}">
        <div *ngIf="submitted && f['id'].errors" class="text-danger">
          <div *ngIf="submitted && f['id'].errors['required']">
            Id is required
          </div>
          <div *ngIf="submitted && f['id'].errors['maxlength']">
            Id debe tener max 2 digitos
          </div>
        </div>
      </div> -->
      <div class="form-group mt-2">
        <label for="title">Titulo: </label>
        <input class="form-control" type="text" id="title" formControlName="title"
        placeholder="Ejm. Seguridad Personal"
        [ngClass]="{'is-invalid': submitted && f['title'].errors}">
        <div *ngIf="submitted && f['title'].errors" class="text-danger">
          <div *ngIf="submitted && f['title'].errors['required']">
            Title is required
          </div>
          <div *ngIf="submitted && f['title'].errors['minlength']">
            Title debe tener minimo 6 caracteres
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
        <label for="description">Descripcion: </label>
        <textarea class="form-control" rows="3" placeholder="Describe los requerimientos del puesto" type="text" id="description" formControlName="description"
        [ngClass]="{'is-invalid': submitted && f['description'].errors}"></textarea>
        <div *ngIf="submitted && f['description'].errors" class="text-danger">
          <div *ngIf="submitted && f['description'].errors['required']">
            Descripcion is required
          </div>
          <div *ngIf="submitted && f['description'].errors['minlength']">
            Descripcion debe tener minimo 10 caracteres
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
        <label for="duration">Duracion de Anuncio(opcional): </label>
        <input class="form-control" type="text" id="duration" formControlName="duration"
        [ngClass]="{'is-invalid': submitted && f['duration'].errors}">
        <div *ngIf="submitted && f['duration'].errors" class="text-danger">
          <div *ngIf="submitted && f['duration'].errors['required']">
            Duracion is required
          </div>
          <div *ngIf="submitted && f['duration'].errors['min']">
            Duracion minima es 1 hora
          </div>
          <div *ngIf="submitted && f['duration'].errors['max']">
            Duracion maxima es 24 horas
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
        <label for="publisher">Ubicacion: </label>
        <input class="form-control" type="text" id="publisher" formControlName="publisher"
        [ngClass]="{'is-invalid': submitted && f['publisher'].errors}">
        <div *ngIf="submitted && f['publisher'].errors" class="text-danger">
          <div *ngIf="submitted && f['publisher'].errors['required']">
            Ubicacion is required
          </div>
        </div>
      </div>
      <button
      class="btn btn-success m-2">
      Agregar
    </button>
    </form>
    <div>
      Validator: {{ formJob.valid | json }}
    </div>
  </div>
  </div>
    <!-- <button class="btn btn-danger float-end" (click)="toggle()" >{{ txtToggle }}</button> -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header d-flex flex-row">
        <div class="offcanvas-title " id="offcanvasRightLabel">Profile</div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <div class="row">
            <div class=" mt-4">
                        <div class="container">
                            <img class="card-img-top" src="../../../assets/background_profile.jpeg">
                            <div class="card-block m-0">
                                <figure class="profileuser">
                                    <img src="../../../assets/image-profile.webp" class="profile-avatar" alt="">
                                </figure>

                                <div class="meta">
                                  <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                                    <a class="role">Developer</a>
                                </div>
                                <div class="card-text">
                                    Desarrollador web que vive actualmente en Perú.
                                </div>
                            </div>
                             <!--<div class="card-footer">
                                <small>Last updated 3 mins ago</small>
                                <button class="btn btn-secondary float-right btn-sm">show</button>
                            </div>-->

                            <div class="card mb-4">
                              <div class=" p-0">
                                <ul class="list-group list-group-flush rounded-3 p-2">
                                  <li class="list-group-item d-flex flex-row justify-content-evenly">
                                    <i class="fas fa-globe fa-lg text-warning"></i>
                                    <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                    <i class="fab fa-instagram fa-lg" style="color: #c52519;"></i>
                                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="container ">
                            <div class=" mb-4 p-0 m-0">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Nombres</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">Ariel Chavez</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">example@example.com</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Celular</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">(51) 959-234-548</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Sexo</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">Hombre</p>
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <p class="mb-0">Dirección</p>
                                  </div>
                                  <div class="col-sm-9">
                                    <p class="text-muted mb-0">Malasya, DK</p>
                                  </div>
                                </div>
                              </div>
                            </div>



                        </div>
                    </div>
          </div>
        </div>
    </div>
