<div class="section-quick">

    <h5 class="title-section">Peticiones inmediatas</h5>

    <!-- Contenedor trabajos -->
    <div class="container-qjobs">

      <!-- unidad tarjeta de trabajo -->
      <div class="fast-job" *ngFor="let job of jobs">
        <span class="title">{{ job.title }}</span>
        <div class="content">
          <span class="label">Descripcion:</span>
          <p class="desc">{{ job.description }}</p>
        </div>
        <span class="time">{{ job.expiration }}</span>
        <a href="#" class="btn-fast">
          <i class="fa-solid fa-chevron-right "></i>
        </a>
      </div>

    </div>


</div>
