<div class="section-quick">

    <h4>Peticiones inmediatas</h4>

    <!-- Contenedor trabajos -->
    <div class="container-qjobs">

      <!-- unidad tarjeta de trabajo -->
      <div class="fast-job">
        <span class="title">Title job</span>
        <div class="content">
          <span class="label">Descripcion:</span>
          <p class="desc">With supporting text below as a natural lead-in to
            additional content. natural lead-in to additional content. text
            below as a natural lead-in</p>
        </div>
        <span class="time">2 horas</span>
        <a href="#" class="btn-fast">
          <i class="fa-solid fa-chevron-right "></i>
        </a>
      </div>
      <div class="fast-job">
        <span class="title">Title job</span>
        <div class="content">
          <span class="label">Descripcion:</span>
          <p class="desc">With supporting text below as a natural lead-in to
            additional content. natural lead-in to additional content. text
            below as a natural lead-in</p>
        </div>
        <span class="time">2 horas</span>
        <a href="#" class="btn-fast">
          <i class="fa-solid fa-chevron-right "></i>
        </a>
      </div>
      <div class="fast-job">
        <span class="title">Title job</span>
        <div class="content">
          <span class="label">Descripcion:</span>
          <p class="desc">With supporting text below as a natural lead-in to
            additional content. natural lead-in to additional content. text
            below as a natural lead-in</p>
        </div>
        <span class="time">2 horas</span>
        <a href="#" class="btn-fast">
          <i class="fa-solid fa-chevron-right "></i>
        </a>
      </div>
      <div class="fast-job">
        <span class="title">Title job</span>
        <div class="content">
          <span class="label">Descripcion:</span>
          <p class="desc">With supporting text below as a natural lead-in to
            additional content. natural lead-in to additional content. text
            below as a natural lead-in</p>
        </div>
        <span class="time">2 horas</span>
        <a href="#" class="btn-fast">
          <i class="fa-solid fa-chevron-right "></i>
        </a>
      </div>
      <div class="fast-job">
        <span class="title">Title job</span>
        <div class="content">
          <span class="label">Descripcion:</span>
          <p class="desc">With supporting text below as a natural lead-in to
            additional content. natural lead-in to additional content. text
            below as a natural lead-in</p>
        </div>
        <span class="time">2 horas</span>
        <a href="#" class="btn-fast">
          <i class="fa-solid fa-chevron-right "></i>
        </a>
      </div>
      <div class="fast-job">
        <span class="title">Title job</span>
        <div class="content">
          <span class="label">Descripcion:</span>
          <p class="desc">With supporting text below as a natural lead-in to
            additional content. natural lead-in to additional content. text
            below as a natural lead-in</p>
        </div>
        <span class="time">2 horas</span>
        <a href="#" class="btn-fast">
          <i class="fa-solid fa-chevron-right "></i>
        </a>
      </div>
      <div class="fast-job">
        <span class="title">Title job</span>
        <div class="content">
          <span class="label">Descripcion:</span>
          <p class="desc">With supporting text below as a natural lead-in to
            additional content. natural lead-in to additional content. text
            below as a natural lead-in</p>
        </div>
        <span class="time">2 horas</span>
        <a href="#" class="btn-fast">
          <i class="fa-solid fa-chevron-right "></i>
        </a>
      </div>

    </div>


</div>
