
.spec {
  grid-area: section;
  border: 1px solid rgb(255, 201, 100);
}
.post {
  grid-area: article;
}
.quick {
  grid-area: aside;
  border: 1px solid rgb(94, 110, 250);
}

.main_content {
  display: grid;
  gap: 2px;
  grid-template:
    " article " auto
    " aside " auto
     ;
}


@media (min-width: 1300px) {

  .main_content {
    display: grid;
    gap: 2px;
    grid-template:
      "article aside" auto /
       auto    250px;

  }
}
