
.spec {
  grid-area: section;
  background-color: aquamarine;
}
.post {
  grid-area: article;
  background-color: rgb(255, 255, 255);
}
.quick {
  grid-area: aside;
  background-color: rgb(185, 212, 160);
}

.main_content {
  display: grid;
  gap: 2px;
  grid-template:
    "section article " auto
    "aside aside " auto /
    250px minmax(450px, auto) ;
  width: 100%;
}


@media (min-width: 1200px) {

  .main_content {
    display: grid;
    gap: 2px;
    grid-template:
      "section article aside" auto /
      250px    auto    250px;

  }
}
