
.spec {
  grid-area: section;
  border: 1px solid rgb(255, 201, 100);
}
.post {
  grid-area: article;
}
.quick {
  grid-area: aside;
  border: 1px solid rgb(94, 110, 250);
}

.main_content {
  display: grid;
  gap: 2px;
  grid-template:
    "section article " auto
    "aside aside " auto /
    250px minmax(450px, auto) ;
  width: 100%;
}


@media (min-width: 1200px) {

  .main_content {
    display: grid;
    gap: 2px;
    grid-template:
      "section article aside" auto /
      250px    auto    250px;

  }
}
