<footer class="text-center  text-lg-start bg-dark p-5 ">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div>
          <h4>Root Jobs</h4>
          <p class="mb-30 footer-desc">Somos una comunidad próspera para las
            conexiones, impulsada por una misión simple:
            Ayudar a las personas en todas partes a encontrar trabajos
            y a empresas a encontrar talentos. </p>
        </div>
      </div>
      <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
        <div class="">
          <h4>Paginas</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none">Home</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Crear Anuncio</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Mantenimiento Jobs</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div>
          <h4>Categorias</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none">Inmediatos</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Contractuales</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Temporales</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div>
          <h4>Address</h4>
          <ul class="list-unstyled">
            <li>
              <p>+928102934</p>
            </li>
            <li>
              <p><a href="#">rootjobs@gmail.com</a>
              </p>
            </li>
            <li>
              <p>Lima, Peru
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">

      <div class="copyright">
        <p>Developed with love by <a href="#" target="_blank">Root Jobs</a></p>
      </div>
    </div>
  </div>
</footer>
