<footer class="text-center  text-lg-start bg-dark text-muted p-5 ">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div>
          <h3>Jobs</h3>
          <p class="mb-30 footer-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad soluta facilis
            eos quia optio iusto odit atque eum tempore, quisquam officiis vero veniam hic,</p>
        </div>
      </div>
      <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
        <div class="">
          <h4>Quick Link</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none">Home</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">About Us</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Service</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div>
          <h4>Service</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none">Marketing</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Branding</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Web Design</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Graphics Design</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div>
          <h4>Address</h4>
          <ul class="list-unstyled">
            <li>
              <p>+017367234</p>
            </li>
            <li>
              <p><a href="#">JhoneDoe@gmail.com</a>
              </p>
            </li>
            <li>
              <p>New York
                City in New York State
                New York City comprises 5 boroughs sitting where the Hudson River meets th</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">

      <div class="copyright">
        <p>Developed and maintained by <a href="#" target="_blank">Root Jobs Team</a></p>
      </div>
    </div>
  </div>
</footer>
